In [3]:
from sklearn.cluster import KMeans
import random
%matplotlib inline
# import all the necessary packages
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import xlrd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn import preprocessing  
from sklearn.linear_model import LogisticRegression
from sklearn.cluster import KMeans
import random
%matplotlib inline

In [4]:
# read the datasets in
df = pd.read_csv('DataSummary.csv', index_col = 0)

In [5]:
df

,siteid,Region,Industry,ZIP,ProgramName,Total_Invoiced_By_Program_mean,Number_of_Programs,Service_Date,Service_Days,Service_Months,Chemical_Materials_Applied,Product_Materials_Applied,Bait_Materials_Applied,Hardware_Materials_Applied,Equipment_Materials_Applied,Service_Materials_Applied
1,10002830.0,189-GulfStatesRegion,Accommodation,39503.0,"PCStandard-Monthly, BedBug-Monthly, TermiteBai...",6510.217833,4,NA NA,NaN,NaN,"CKCSCRC, ADFCB, NULL, TALPRO, PHN(LiquidOunce)...",NaN,"NULL, ADVIONR, FSSB40, REHD2, RECIVA",NaN,"NULL, TCGB",NaN
2,10009308.0,849-N.Texas/OklahomaRegion,Government,75204.0,PCStandard-OddJob,100.000000,2,2018-12-13 2020-03-19,462.0,15.0,"CirrusFoggingConcentrate, TEMPRID, TEMPFX",NaN,"NULL, ADVIONR",NaN,"REPCD, NULL",NaN
3,10019195.0,199-S.FloridaRegion,Apartments(Over4Units),33432.0,DrywoodBorateSvc,200.000000,1,2019-11-16 2019-11-16,0.0,0.0,TERMFM,NaN,NaN,NaN,NaN,NaN
4,10021218.0,539-Iowa/WisconsinRegion,Apartments(Over4Units),61201.0,BedBug-OddJob,412.500000,2,2019-03-14 2020-04-30,413.0,14.0,"ALPF&amp;B, CID, TEMPRID, (C)STEFS, TRDIBULK, ...",NaN,NaN,NaN,"NULL, BSENCT, ENCT",NaN
5,10021229.0,539-Iowa/WisconsinRegion,Apartments(Over4Units),61201.0,BedBug-OddJob,525.000000,1,2018-07-16 2018-07-16,0.0,0.0,"ALPF&amp;B, TEMPFX, TEMPO1%D",NaN,NaN,NaN,"BSENCF, ENCF",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1169,997559.0,149-N.FloridaRegion,Accommodation,32822.0,PCStandard-EOM6,458.340000,1,2014-12-08 2020-06-16,2017.0,66.0,"CKCK(AerosolOunce), (C)TALPO1, (C)CYK, (C)TALP...",NaN,NaN,NaN,NaN,NaN
1170,9982267.0,849-N.Texas/OklahomaRegion,Apartments(Over4Units),75287.0,PCStandard-OddJob,155.000000,1,2019-08-09 2019-08-23,14.0,0.0,"CirrusFoggingConcentrate, TEMPFX, DDT(DustGram)",NaN,"NULL, ADVIONR",NaN,"REPCD, NULL",NaN
1171,9990277.0,899-SouthCentralCommercialRegion,Accommodation,37830.0,"PCStandard-Monthly, BedBug-OddJob",1966.986667,3,2018-04-09 2020-07-14,827.0,27.0,"AAGL, ADFCB, MGIB(GranularOunce), PHN(LiquidOu...",NaN,NaN,NaN,NaN,NaN
1172,9998317.0,449-VirginiaRegion,OfficeBuildings,23219.0,PCStandard-Quarterly4,1070.140000,1,2018-04-23 2020-07-20,819.0,27.0,"VENDPLUS, (C)TRANM11, TRANSGHP, PHN(LiquidOunc...",NaN,"NULL, MFIMPRCHGEL",NaN,"NULL, HTCG3, TCGB, GBMOU",NaN
1173,NaN,NaN,NaN,NaN,NaN,4277.146000,1,NA NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.columns

Index(['siteid', 'Region', 'Industry', 'ZIP', 'ProgramName',
       'Total_Invoiced_By_Program_mean', 'Number_of_Programs', 'Service_Date',
       'Service_Days', 'Service_Months', 'Chemical_Materials_Applied',
       'Product_Materials_Applied', 'Bait_Materials_Applied',
       'Hardware_Materials_Applied', 'Equipment_Materials_Applied',
       'Service_Materials_Applied'],
      dtype='object')

In [7]:
df.shape

(1173, 16)

In [8]:
df['Industry']

1                Accommodation
2                   Government
3       Apartments(Over4Units)
4       Apartments(Over4Units)
5       Apartments(Over4Units)
                 ...
1169             Accommodation
1170    Apartments(Over4Units)
1171             Accommodation
1172           OfficeBuildings
1173                       NaN
Name: Industry, Length: 1173, dtype: object

In [9]:
df['ProgramName']

1       PCStandard-Monthly, BedBug-Monthly, TermiteBai...
2                                       PCStandard-OddJob
3                                        DrywoodBorateSvc
4                                           BedBug-OddJob
5                                           BedBug-OddJob
                              ...
1169                                      PCStandard-EOM6
1170                                    PCStandard-OddJob
1171                    PCStandard-Monthly, BedBug-OddJob
1172                                PCStandard-Quarterly4
1173                                                  NaN
Name: ProgramName, Length: 1173, dtype: object

In [10]:
df['Region']

1                   189-GulfStatesRegion
2             849-N.Texas/OklahomaRegion
3                    199-S.FloridaRegion
4               539-Iowa/WisconsinRegion
5               539-Iowa/WisconsinRegion
                      ...
1169                 149-N.FloridaRegion
1170          849-N.Texas/OklahomaRegion
1171    899-SouthCentralCommercialRegion
1172                  449-VirginiaRegion
1173                                 NaN
Name: Region, Length: 1173, dtype: object

In [11]:
len(df['Product_Materials_Applied'].unique())

111

In [163]:
# transform the categorical columns into something we could use in the algorithmns
le=preprocessing.LabelEncoder()
df['region']=le.fit_transform(list(df['Region']))
len(df['region'].unique())
le2=preprocessing.LabelEncoder()
df['industry']=le2.fit_transform(list(df['Industry']))
len(df['Industry'].unique())
le3=preprocessing.LabelEncoder()
df['program']=le3.fit_transform(list(df['ProgramName']))
len(df['ProgramName'].unique())

153

In [165]:
le4=preprocessing.LabelEncoder()
df['product']=le4.fit_transform(list(df['Product_Materials_Applied']))
len(df['product'].unique())

111

In [166]:
le5=preprocessing.LabelEncoder()
df['bait']=le5.fit_transform(list(df['Bait_Materials_Applied']))
le6=preprocessing.LabelEncoder()
df['equipment']=le6.fit_transform(list(df['Equipment_Materials_Applied']))

In [167]:
df.shape

(1173, 23)

In [168]:
x= pd.concat([df['region'],df['industry']],axis=1)

In [169]:
df.columns

Index(['siteid', 'Region', 'Industry', 'ZIP', 'ProgramName',
       'Total_Invoiced_By_Program_mean', 'Number_of_Programs', 'Service_Date',
       'Service_Days', 'Service_Months', 'Chemical_Materials_Applied',
       'Product_Materials_Applied', 'Bait_Materials_Applied',
       'Hardware_Materials_Applied', 'Equipment_Materials_Applied',
       'Service_Materials_Applied', 'region', 'industry', 'program', 'product',
       'bait', 'equipment', 'product_predict'],
      dtype='object')

In [170]:
x

      region  industry
1          2         0
2         29        10
3          3         2
4         18         2
5         18         2
...      ...       ...
1169       0         0
1170      29         2
1171      32         0
1172      14        18
1173      33        26

[1173 rows x 2 columns]

In [171]:
x2 = pd.concat([df['region'],df['industry'],df['program']],axis=1)

In [22]:
x2

      region  industry  program
1          2         0       53
2         29        10       75
3          3         2       33
4         18         2        1
5         18         2        1
...      ...       ...      ...
1169       0         0       47
1170      29         2       75
1171      32         0       54
1172      14        18       83
1173      33        26      152

[1173 rows x 3 columns]

## This part predicts the program based on region and industry.

In [65]:
# split the data for traning and testing
x1_train,x1_test,y1_train,y1_test = train_test_split(x, df['program'],test_size=0.2)

In [66]:
x1_train

      region  industry
930       27         5
497       12        18
839        6         9
268       18         3
526       29        10
...      ...       ...
684       15        18
125       15         2
1014       2         9
760       22         9
311       29         2

[938 rows x 2 columns]

In [67]:

knn=KNeighborsClassifier(n_neighbors=5)

In [68]:
knn.fit(x1_train,y1_train)

KNeighborsClassifier()

In [69]:
knn.score(x1_train,y1_train)

0.5383795309168443

In [70]:
knn.score(x1_test,y1_test)

0.4553191489361702

### This part predicts the product based on industry, region as well as programname.

In [142]:
x2.iloc[product_no_null.index-1]

      region  industry  program
9          7         0       95
16         6         5       75
17         8        18       87
18        14         0       51
25        15        18      131
...      ...       ...      ...
1134      14         5       51
1140      15        18       13
1152       6        21       51
1165      32         0      110
1167      15         2       41

[266 rows x 3 columns]

In [141]:
product_no_null= df.dropna(subset=['Product_Materials_Applied'])
product_no_null

,siteid,Region,Industry,ZIP,ProgramName,Total_Invoiced_By_Program_mean,Number_of_Programs,Service_Date,Service_Days,Service_Months,...,Hardware_Materials_Applied,Equipment_Materials_Applied,Service_Materials_Applied,region,industry,program,product,bait,equipment,product_predict
9,10060061.0,349-NorthCarolinaRegion,Accommodation,27101.0,"PCStandard-Semi-Monthly, BedBug-OddJob",8465.405405,7,2018-09-10 2020-07-28,687.0,23.0,...,NaN,"GBMOU, GT150GB, NULL, GB180, MCTR, GT180B",NaN,7,0,95,10,175,50,10
16,10075440.0,339-MidwestCommercialRegion,EducationalServices,45229.0,PCStandard-OddJob,80.000000,1,2019-05-21 2019-05-21,0.0,0.0,...,NaN,NaN,NaN,6,5,75,104,0,395,12
17,10076454.0,369-NewEnglandRegion,OfficeBuildings,5401.0,PCStandard-Quarterly5,1608.000000,1,2018-05-29 2020-06-11,744.0,24.0,...,NaN,"PRBS, TCAT, NULL",NaN,8,18,87,105,175,339,57
18,1007919.0,449-VirginiaRegion,Accommodation,23803.0,PCStandard-Monthly,1400.000000,1,2018-12-06 2020-07-30,602.0,20.0,...,NaN,"NULL, GBMOU, GLREP, TCGB, GLEB, SPTP, GLEM",NaN,14,0,51,37,53,191,12
25,101580.0,499-BeltwayCommercialRegion,OfficeBuildings,19106.0,"PCStandard-Weekly5, PCStandard-Seasonal, PCSta...",30241.423658,5,2012-07-05 2020-08-06,2954.0,97.0,...,NaN,"NULL, GBMOU, GLREP, FYET, GBLR, FLYK, GLUBD(So...",NaN,15,18,131,34,98,188,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1134,980712.0,449-VirginiaRegion,EducationalServices,23837.0,PCStandard-Monthly,7830.130000,1,2014-11-21 2020-07-13,2061.0,68.0,...,NaN,"GBMOU, NULL",NaN,14,5,51,57,175,58,12
1140,9851775.0,499-BeltwayCommercialRegion,OfficeBuildings,21136.0,"BedBugInspection-OddJob, BedBug-OddJob",285.714286,3,2018-02-22 2019-01-10,322.0,11.0,...,NaN,NaN,NaN,15,18,13,12,175,395,12
1152,9893197.0,339-MidwestCommercialRegion,RetailTrade,43031.0,PCStandard-Monthly,4864.850000,1,2018-04-02 2020-07-23,843.0,28.0,...,NaN,"GBMOU, NULL, GT150GB, GLREP",NaN,6,21,51,53,175,65,12
1165,9941219.0,899-SouthCentralCommercialRegion,Accommodation,73108.0,PCStandard-Weekly4,11376.870000,1,2018-03-15 2020-08-06,875.0,29.0,...,NaN,"NULL, GBMOU",NaN,32,0,110,72,27,176,87
1167,9967846.0,499-BeltwayCommercialRegion,Apartments(Over4Units),21220.0,PCSpecialSvcs-OddJob,72.400000,5,2019-01-09 2019-06-18,160.0,5.0,...,NaN,"BAITI, MTRA, NULL",NaN,15,2,41,100,175,13,37

In [131]:
df.dropna(subset=['Product_Materials_Applied'])['product']

9        10
16      104
17      105
18       37
25       34
       ...
1134     57
1140     12
1152     53
1165     72
1167    100
Name: product, Length: 266, dtype: int32

In [143]:
product_no_null.index

Int64Index([   9,   16,   17,   18,   25,   27,   28,   29,   46,   53,
            ...
            1118, 1121, 1123, 1126, 1129, 1134, 1140, 1152, 1165, 1167],
           dtype='int64', length=266)

In [144]:
# split the data for traning and testing
x2_train,x2_test,y2_train,y2_test = train_test_split(x2.iloc[df.dropna(subset=['Product_Materials_Applied'])['product'].index-1], df.dropna(subset=['Product_Materials_Applied'])['product'],test_size=0.2)

In [145]:
knn2=KNeighborsClassifier(n_neighbors=3)

In [146]:
x2_train

     region  industry  program
899      29        15       51
766      22         8       51
773      22         6       94
728      28         3       94
696      15         2      110
..      ...       ...      ...
888      30         2      110
802      23        11       51
476      32        18       62
951       2        18       51
800      23         7      121

[212 rows x 3 columns]

In [147]:
knn2.fit(x2_train,y2_train)

KNeighborsClassifier(n_neighbors=3)

In [148]:
knn2.score(x2_train,y2_train)

0.4528301886792453

In [149]:
knn2.score(x2_train,y2_train)

0.4528301886792453

In [152]:
product_no_null

,siteid,Region,Industry,ZIP,ProgramName,Total_Invoiced_By_Program_mean,Number_of_Programs,Service_Date,Service_Days,Service_Months,...,Hardware_Materials_Applied,Equipment_Materials_Applied,Service_Materials_Applied,region,industry,program,product,bait,equipment,product_predict
9,10060061.0,349-NorthCarolinaRegion,Accommodation,27101.0,"PCStandard-Semi-Monthly, BedBug-OddJob",8465.405405,7,2018-09-10 2020-07-28,687.0,23.0,...,NaN,"GBMOU, GT150GB, NULL, GB180, MCTR, GT180B",NaN,7,0,95,10,175,50,10
16,10075440.0,339-MidwestCommercialRegion,EducationalServices,45229.0,PCStandard-OddJob,80.000000,1,2019-05-21 2019-05-21,0.0,0.0,...,NaN,NaN,NaN,6,5,75,104,0,395,12
17,10076454.0,369-NewEnglandRegion,OfficeBuildings,5401.0,PCStandard-Quarterly5,1608.000000,1,2018-05-29 2020-06-11,744.0,24.0,...,NaN,"PRBS, TCAT, NULL",NaN,8,18,87,105,175,339,57
18,1007919.0,449-VirginiaRegion,Accommodation,23803.0,PCStandard-Monthly,1400.000000,1,2018-12-06 2020-07-30,602.0,20.0,...,NaN,"NULL, GBMOU, GLREP, TCGB, GLEB, SPTP, GLEM",NaN,14,0,51,37,53,191,12
25,101580.0,499-BeltwayCommercialRegion,OfficeBuildings,19106.0,"PCStandard-Weekly5, PCStandard-Seasonal, PCSta...",30241.423658,5,2012-07-05 2020-08-06,2954.0,97.0,...,NaN,"NULL, GBMOU, GLREP, FYET, GBLR, FLYK, GLUBD(So...",NaN,15,18,131,34,98,188,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1134,980712.0,449-VirginiaRegion,EducationalServices,23837.0,PCStandard-Monthly,7830.130000,1,2014-11-21 2020-07-13,2061.0,68.0,...,NaN,"GBMOU, NULL",NaN,14,5,51,57,175,58,12
1140,9851775.0,499-BeltwayCommercialRegion,OfficeBuildings,21136.0,"BedBugInspection-OddJob, BedBug-OddJob",285.714286,3,2018-02-22 2019-01-10,322.0,11.0,...,NaN,NaN,NaN,15,18,13,12,175,395,12
1152,9893197.0,339-MidwestCommercialRegion,RetailTrade,43031.0,PCStandard-Monthly,4864.850000,1,2018-04-02 2020-07-23,843.0,28.0,...,NaN,"GBMOU, NULL, GT150GB, GLREP",NaN,6,21,51,53,175,65,12
1165,9941219.0,899-SouthCentralCommercialRegion,Accommodation,73108.0,PCStandard-Weekly4,11376.870000,1,2018-03-15 2020-08-06,875.0,29.0,...,NaN,"NULL, GBMOU",NaN,32,0,110,72,27,176,87
1167,9967846.0,499-BeltwayCommercialRegion,Apartments(Over4Units),21220.0,PCSpecialSvcs-OddJob,72.400000,5,2019-01-09 2019-06-18,160.0,5.0,...,NaN,"BAITI, MTRA, NULL",NaN,15,2,41,100,175,13,37

In [155]:
x2_train

     region  industry  program
899      29        15       51
766      22         8       51
773      22         6       94
728      28         3       94
696      15         2      110
..      ...       ...      ...
888      30         2      110
802      23        11       51
476      32        18       62
951       2        18       51
800      23         7      121

[212 rows x 3 columns]

In [156]:
product_no_null['product_predict']= knn2.predict(product_no_null[['region','industry','program']])

<ipython-input-156-d6dda6734245>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  product_no_null['product_predict']= knn2.predict(product_no_null[['region','industry','program']])

In [157]:
product_no_null['product_predict']

9       10
16      12
17      57
18      37
25      34
        ..
1134    12
1140    57
1152    12
1165    72
1167    57
Name: product_predict, Length: 266, dtype: int32

In [226]:
product_result= pd.DataFrame({'product_predict': le4.inverse_transform(product_no_null['product_predict'])})

In [227]:
product_result

             product_predict
0    IGB(Solid), TRAGL, NULL
1                   IM, NULL
2                   NULL, IM
3             NULL, CLK, BSM
4         NULL, BSMRU, TRAGL
..                       ...
261                 IM, NULL
262                 NULL, IM
263                 IM, NULL
264               NULL, MCTP
265                 NULL, IM

[266 rows x 1 columns]

In [228]:
product_no_null.columns

Index(['siteid', 'Region', 'Industry', 'ZIP', 'ProgramName',
       'Total_Invoiced_By_Program_mean', 'Number_of_Programs', 'Service_Date',
       'Service_Days', 'Service_Months', 'Chemical_Materials_Applied',
       'Product_Materials_Applied', 'Bait_Materials_Applied',
       'Hardware_Materials_Applied', 'Equipment_Materials_Applied',
       'Service_Materials_Applied', 'region', 'industry', 'program', 'product',
       'bait', 'equipment', 'product_predict'],
      dtype='object')

In [229]:
Product_ = pd.concat([product_no_null[['Region','Industry','ProgramName','Product_Materials_Applied']].reset_index(),product_result],axis= 1)

In [230]:
Product_.set_index('index',inplace=True)

In [232]:
Product_.head()

,Region,Industry,ProgramName,Product_Materials_Applied,product_predict
index,,,,,
9,349-NorthCarolinaRegion,Accommodation,"PCStandard-Semi-Monthly, BedBug-OddJob","IGB(Solid), TRAGL, NULL","IGB(Solid), TRAGL, NULL"
16,339-MidwestCommercialRegion,EducationalServices,PCStandard-OddJob,TRAGL,"IM, NULL"
17,369-NewEnglandRegion,OfficeBuildings,PCStandard-Quarterly5,"TRAGL, NULL","NULL, IM"
18,449-VirginiaRegion,Accommodation,PCStandard-Monthly,"NULL, CLK, BSM","NULL, CLK, BSM"
25,499-BeltwayCommercialRegion,OfficeBuildings,"PCStandard-Weekly5, PCStandard-Seasonal, PCSta...","NULL, BSMRU, TRAGL","NULL, BSMRU, TRAGL"

### This part predicts the bait based on industry, region as well as programname.

In [93]:
# split the data for traning and testing
x3_train,x3_test,y3_train,y3_test = train_test_split(x2, df['bait'],test_size=0.2)

In [94]:
knn3=KNeighborsClassifier(n_neighbors=3)

In [95]:
knn3.fit(x3_train,y3_train)

KNeighborsClassifier(n_neighbors=3)

In [96]:
knn3.score(x3_train,y3_train)

0.7089552238805971

In [97]:
knn3.score(x3_test,y3_test)

0.5106382978723404

In [82]:
x2

      region  industry  program
1          2         0       53
2         29        10       75
3          3         2       33
4         18         2        1
5         18         2        1
...      ...       ...      ...
1169       0         0       47
1170      29         2       75
1171      32         0       54
1172      14        18       83
1173      33        26      152

[1173 rows x 3 columns]

### This part predicts the equipment based on industry, region as well as programname.

In [103]:
df['equipment'].unique()

array([295, 343, 395, 157,  20,  16,  32,  50, 323, 114, 339, 191, 233,
        58, 236, 188, 237,  96, 257,   7, 228, 269,  81,  56, 174, 165,
       274, 124, 262, 277,  66, 153, 328, 227, 176, 167, 154, 349, 155,
       224,  64, 362, 364, 394,  69, 285, 354,  68,  74,  95, 330, 321,
       296, 327,  48,  17,  29, 139, 137,  44, 336,  84, 353, 266, 264,
       252, 341, 300,  19, 107,  39,  51,  34, 162,  31,  33,  27,  23,
       163,  75, 301, 212,  47, 110,  35,  49, 267,   6,   4, 278,  25,
         9, 140,  26, 138,   1, 352, 145,  85,  22, 355, 221, 160, 313,
       161, 347, 210, 315, 184, 240, 390, 366, 177, 205,  12, 175,  71,
       351, 373,  41,  77, 317, 279, 287, 338, 388, 331, 241, 344, 297,
       115,  72, 329, 123, 319, 251, 284, 393, 235, 189, 369,  37, 166,
       253, 254, 259, 275, 152, 382, 392, 380, 289, 220, 144, 179, 202,
       208,  62, 136, 198, 172, 156,  73, 288, 204,  57,  91, 350, 255,
       135, 146, 147, 326, 148,  79, 186,  80, 386,  67, 131,  98,  53,
       149, 334,  46, 117, 268,  78, 371, 113,  43, 356, 203, 118, 190,
       195, 302,  61, 375, 214,  63, 348, 164, 226, 121, 303, 230, 244,
       200, 318, 367, 232,  54, 242, 261, 320, 309, 246, 359, 283, 218,
        70, 311, 159, 119, 314, 385, 346, 387, 229, 342, 120, 273, 282,
       376, 247, 248, 305,  45, 130, 105, 258,  86, 116, 245, 389, 316,
        90, 265, 231, 225, 196,  60, 168, 125, 126, 291, 333, 294,  11,
       187, 372, 127, 243,   0, 170, 270, 358, 357, 171, 304, 128, 182,
       370, 112, 134, 271, 222,  18, 111, 211, 312, 142, 141, 133, 363,
       132, 360, 325, 332, 308, 286, 129, 374,  88, 381, 299, 250,  97,
       293, 365, 122, 361, 298, 108,  92, 104,  94, 101, 102,  93, 100,
       103, 194, 199, 192, 310, 384, 207, 151, 183, 378, 368, 322, 209,
        36, 217, 158, 213, 206,  38, 377,  87, 256, 181, 306, 337, 281,
       249,  83,  89, 292, 109, 215, 379, 335,  40, 201,   2,  59, 197,
        55,  76,  15,  10, 185,  28, 219, 143,  82, 173, 150, 223, 340,
       193, 280, 307, 290, 216, 106,   3,   5, 276,  14, 260, 272, 391,
       345,  99, 239, 238, 180,  30, 324,  21, 383, 234,  24,  65,  42,
        52,   8, 178, 169,  13, 263], dtype=int32)

In [83]:
# split the data for traning and testing
x4_train,x4_test,y4_train,y4_test = train_test_split(x2, df['equipment'],test_size=0.2)

In [98]:
knn4=KNeighborsClassifier(n_neighbors=3)

In [99]:
knn4.fit(x4_train,y4_train)

KNeighborsClassifier(n_neighbors=3)

In [100]:
knn4.score(x4_train,y4_train)

0.5746268656716418

In [101]:
knn4.score(x4_test,y4_test)

0.40425531914893614